<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item item-bar"><a href="../templates/index.php "><i class="la la-home "></i><span class="menu-title " data-i18n="nav.dash.main ">Dashboard</span><span class="badge badge badge-info
            badge-pill float-right mr-2 ">1</span></a>
            </li>
            <li class=" nav-item item-bar"><a href="../templates/list.php "><i class="la la-cart-plus "></i><span class="menu-title " data-i18n="nav.templates.main ">Products</span></a>
            </li>
            </li>
            <li class=" nav-item item-bar"><a href="../templates/productdetail.php "><i class="la la-pencil-square "></i><span class="menu-title " data-i18n="nav.templates.main ">Products Detail</span></a>
            </li>
            </li>
            <li class=" nav-item item-bar"><a href="../templates/product_contact.php "><i class="la la-pencil-square "></i><span class="menu-title " data-i18n="nav.templates.main ">Products Contact</span></a>
            </li>
            </li>
            <li class=" nav-item item-bar"><a href="../templates/customers.php "><i class="la la-user-plus "></i><span class="menu-title " data-i18n="nav.templates.main ">Customers</span></a>
            </li>
            </li>
            <li class=" nav-item item-bar"><a href="../templates/categories.php "><i class="la la-folder "></i><span class="menu-title " data-i18n="nav.templates.main ">Categories</span></a>
            </li>
    </div>
    </ul>
</div>
</div>
<style>
    .item-bar:hover {
        background-color: rgba(255, 30, 0, 0.712);
        color: aliceblue;
    }
</style>