<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item item-bar">
                <a href="../home/home.php ">
                    <i class="la la-home "></i>
                    <span class="menu-title " data-i18n="nav.dash.main ">Dashboard</span>
                    <!-- <span class="badge badge badge-info badge-pill float-right mr-2 ">1</span> -->
                </a>
            </li>
            <li class=" nav-item item-bar">
                <a href="../product/manage_promotion.php ">
                    <i class="la la-cart-plus "></i>
                    <span class="menu-title " data-i18n="nav.templates.main ">Manage Promotions</span>
                </a>
            </li>
            <li class="nav-item has-sub open">
                <a href="#">
                    <i class="la la-television"></i>
                    <span class="menu-title" data-i18n="nav.templates.main">Configuration</span>
                </a>
                <ul class="menu-content">
                    <li>
                        <a class="menu-item" href="../company/manage_company.php" data-i18n="nav.templates.vert.classic_menu">Manage Company</a>
                    </li>
                    <li>
                        <a class="menu-item" href="../size/manage_size.php" data-i18n="nav.templates.vert.classic_menu">Manage Size</a>
                    </li>
                    <li>
                        <a class="menu-item" href="../province/provinces.php" data-i18n="nav.templates.vert.classic_menu">Provinces</a>
                    </li>
                    <li>
                        <a class="menu-item" href="../brand/manage_brand.php" data-i18n="nav.templates.vert.classic_menu">Brands</a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item item-bar">
                <a href="../User/customers.php ">
                    <i class="la la-user-plus "></i>
                    <span class="menu-title " data-i18n="nav.templates.main ">Manage Users</span>
                </a>
            </li>
            <li class=" nav-item item-bar">
                <a href="../category/categories.php ">
                    <i class="la la-folder "></i>
                    <span class="menu-title " data-i18n="nav.templates.main ">Categories</span>
                </a>
            </li>
    </div>
    </ul>
</div>
</div>
<style>
    .item-bar:hover {
        background-color: rgba(255, 30, 0, 0.712);
        color: aliceblue;
    }
</style>